<form action="/posts/create" method="post">
  <div>
    <label for="post_title">Title</label>
    <input
      type="text"
      name="post[title]"
      id="post_title"
      placeholder="Write title here..."
    />
  </div>

  <div>
    <div>
      <label for="post_content">Body</label>
    </div>

    <textarea name="post[body]" id="post_body" cols="30" rows="10"></textarea>
  </div>

  <button type="submit">Create post</button>
</form>
