#app {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: max-content auto 72px;
    min-width: 1280px;
    max-width: 70%;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    grid-row-gap: 32px;
    grid-column-gap: 48px;
}

header {
    grid-column: 1 / span 5;
}

nav {
    grid-column: 1;
}

main {
    grid-column: 2 / span 3;
}

footer {
    grid-column: 1 / span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}