* {
	font-family: "calibri";
}

body {
	width: 60%;
	padding-left: 30px;
}
ul {
	margin: 10px;
}
li{
	font-size: 18px;
}

a {
	float:left;
	display: block;
	padding: 10px;
	margin: 5px;
	width: 96px;
	text-decoration: none;
	border: 1px solid #000;
	border-radius: 3px;
	color: #000;
	text-align: center;
}

a:hover {
	background-color: #ccc;
}
div {
	overflow: hidden;

	padding:5px;
	height: 60px;


}
input {

	position: relative;
	overflow: hidden;
}
