<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog example - index</title>
  </head>

  <body>
    <header>
      <h1>Blog example Home page</h1>
    </header>

    <nav>
      <div>
        <ul>
          <li>
            <a href="/posts/new">Create new Post</a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <h2>Blog posts</h2>

      <div class="posts">
        <%- posts?.map((post)=> { return (`
        <div class="post">
          <b>#${post.id} - ${post.title}:</b><i>${post.snippet}...</i>
          <a href="#" class="post">See post</a>
        </div>
        `) }).join('') %>
      </div>
    </main>
  </body>
</html>
