<nav>
  <h4>A Barretto.software website!</h4>

  <ul>
    <li><a href="/" data-selected=<%= path === "/"%>>Home</a></li>
    <li><a href="/posts/new" data-selected=<%= path === "/posts/new"%>>New Post</a></li>
  </ul>
</nav>
