<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {endpoint: 'about' }) %>

  <body>
    <main>
      <h1>About page example</h1>
      <p>about.ejs</p>
    </main>

    <%- include('./partials/nav.ejs') %>
  </body>
</html>
