<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {endpoint: 'contact' }) %>

  <body>
    <main>
      <h1>Contact page example</h1>
      <p>contact.ejs</p>
      <p><%= content %></p>
    </main>

    <%- include('./partials/nav.ejs') %>
  </body>
</html>
