<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs', {endpoint: 'index' }) %>

  <body>
    <main>
      <h1>Home page example</h1>
      <p>index.html</p>
    </main>

    <%- include('./partials/nav.ejs') %>
  </body>
</html>
