<!DOCTYPE html>
<html lang="en">
  <!-- HTML HEAD -->
  <%- include('./partials/head.ejs') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <!-- NAV -->
    <%- include('./partials/nav.ejs') %>

    <!-- CONTENT -->
    <main>
      <div>
        <h1>404 - Ooops!</h1>
        <p>This page doesn't exists</p>
      </div>
    </main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
